body {
background: url(../public/image-from-rawpixel-id-2620407-jpeg.jpg);
text-align: center;

}



input {
    width: 80%;
    max-width: 700px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid grey;
    padding: 0 20px;
    background-color: rgba(236, 236, 236, 0.472);
    backdrop-filter: blur(1px);
}

input:active{
    outline: red;
}