body {
background: url(../public/image-from-rawpixel-id-2620407-jpeg.jpg);
background-position: center;
background-size: auto;
text-align: center;

}



input {
    width: 80%;
    max-width: 1000px;
    height: 50px;
    border-radius: 30px;
    border: none;
    padding: 30px 30px;
    background:rgba(81, 81, 81, 0.472);
    backdrop-filter: blur(1px);
}

input:active{
    outline: red;
}

/* Current Weather Compomponent */
.current-weather{
    width: 80%;
    max-width: 1000px;
    background:rgba(81, 81, 81, 0.472);
    border-radius: 30px;
}